<header class="bg-orange-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

    <span class="ml-3 text-4xl text-blue-600 font-extrabold">
      <%= link_to "BetterMe", root_path %>
    </span>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;"><%= link_to 'ログアウト', logout_path, class: 'nav-link', data: { turbo_method: :delete ,turbo_confirm: 'ログアウトします' } %></font>
        </font>
      </a>
    </nav>
  </div>
</header>
