<nav class="bg-light">
  <div class="container mx-auto flex items-center justify-between py-4">
    <a class="text-lg font-bold" href="/">BetterMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse flex items-center" id="navbarSupportedContent">
      <ul class="flex space-x-4 ml-auto">

        <li>
          <a class="nav-link" data-confirm="ログアウトします" rel="nofollow" data-method="delete" href="#">ログアウト</a>
        </li>

        <li>
          <a class="nav-link" href="#">ユーザー登録</a>
        </li>
        <li>
          <a class="nav-link" href="#">ログイン</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

