<div class="timeline">
  <!-- Generate timeline with time slots -->
  <div class="time">AM 5:00</div>
  <div class="time">AM 6:00</div>
  <div class="time">AM 7:00</div>
  <!-- ... repeat for other hours ... -->
  <div class="time">AM 3:00</div>
  <div class="time">AM 4:00</div>
</div>
